<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Error 404</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Error 404</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item>
      <ion-label>
        <h2>¡Oops! Página no encontrada.</h2>
      </ion-label>
    </ion-item>
    <!-- Puedes agregar más contenido o personalizar según tus necesidades -->
  </ion-list>
</ion-content>
