<ion-header>
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Usuario</ion-label>
    <ion-input [(ngModel)]="username" type="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Contraseña</ion-label>
    <ion-input [(ngModel)]="password" type="password"></ion-input>
  </ion-item>
  <ion-button expand="full" (click)="autenticar()">ingresar</ion-button>
  <ion-button expand="full" (click)="IrARegistro()">registrarse</ion-button>
  <ion-button expand="full" (click)="IrARecuperacion()">recuperar contraseña</ion-button>
</ion-content>
